<div class="evaluation-right">
		<div class="evaluation-right-item">
			<div class="scoreitem">
				<h3>
					<span>综合评分</span>
					<span class="num"><i>61</i>人评价</span>
				</h3>
				<p>10.0</p>
				<div class="star">
          <i class="sz-star on"></i>
          <i class="sz-star on"></i>
          <i class="sz-star on"></i>
          <i class="sz-star on"></i>
          <i class="sz-star on"></i>
				</div>
			</div>
			<div class="itemlist">
								<div class="slist">
					<span>内容实用</span>
					<em>10.0</em>
				</div>
								<div class="slist">
					<span>通俗易懂</span>
					<em>10.0</em>
				</div>
								<div class="slist">
					<span>逻辑清晰</span>
					<em>10.0</em>
				</div>

			</div>
		</div>
	</div>
