.notFound {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.notFound h1 {
  font-size: 3em;
  font-weight: bold;
}

.notFound h2 {
  font-size: 2em;
  font-weight: bold;
}
